.stats-2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .chart-2{
    
    flex-basis: 50%;
    width:30vw;
    height:30vw;
  }

  .main{
    min-height: calc(94vh - 39px);
    overflow: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }