*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main{
    // min-height: calc(94vh - 39px);
    // background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100%;
    align-items: center;
}

.authcard{
    height: 80vh;
    border-radius: 10px;
    max-width: 50vw;
    // background-color: rgb(0, 255, 0);
    display: flex;
    border-radius: 2%;
    flex-direction: column;
    background-image: url("../../assets/images/plant.jpg");
    // background-color: aqua;
    background-size: 100% 100%;
    overflow: hidden;
    position: relative;
}

.deets{
    position: absolute;
    width: 10vw;
    height: 100%;
    //background-color: aqua;
    top: 0;
    display: flex;
    flex-direction: column;
}

.rightregdeetscont{
    transform: translateX(0%);
    transition: transform 1.2s 0.2s ease-in-out;
}

.leftregdeetscont{
    transform: translateX(-100%);
    transition: transform 1.2s ease-in-out;
}

.rightlogindeetscont{
    transform: translateX(0%);
    transition: transform 1.2s 0.3s ease-in-out;
}

.leftlogindeetscont{
    transform: translateX(100%);
    transition: transform 1.2s ease-in-out;
}
.switchbut{
    align-self: center;
    width: fit-content;
    padding: 2%;
    position: relative;
    font-size: 150%;
    cursor: pointer;
    color: white;
}

.rightdeets::after{
    content: "";
    border: white solid thin;
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: top 1s 1.1s ease-in-out;
}

.leftdeets::after{
    content: "";
    border: white solid thin;
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -50%;
    left: 0;
    transition: top 0.5s 1s ease-in-out;
}


.imageslide{
    width: 90vw;
    height: 80vh;
    display: flex;
}

.imageslideopaque{
    width: 40vw;
    background-color: rgb(245, 245, 245);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.imageslidetransparent{
    width: 10vw;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.right{
    transition: transform 1.5s ease-in-out;
    transform: translateX(0);
}

.left{
    transform: translateX(-40vw);
    transition: transform 1.5s ease-in-out;
}

.logincard{
    width: 30vw;
    height: 60%;
    // background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.regcard{
    // background-color: aqua;
    width: 40vw;
    height: 80%;
    // background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logintitle{
    font-size: 200%;
    color: black;
    flex-basis: 10%;
}

.input{
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex-basis: 70%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

}

.regdiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    // background-color: bisque;
}


.error{
    flex-basis: 10%;
    width: 100%;
    //background-color: aqua;
    border: thin red solid;
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.ip{
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: solid black thin;
}

.ip:focus{
    // border-color: greenyellow;
    border-bottom: solid var(--col4);
    outline: none;
}

.iperror{
    border-bottom: red thin solid; 
    //flex-basis: 50%; 
    height: 100%; 
    //box-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 0, 0, 0.2);
}

.errormsg{
    //height: 15%; 
    display: flex; 
    justify-content: space-between;
    position: relative;
}


.message {
    background:  #ffb3b3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: 900;
    width: fit-content;
    height: fit-content;
    color: #000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    transition: 2s ease-in;
    animation: 0.5s cloud ease-in forwards;
    padding: 2%;
    opacity: 0;
    // left: -100%;
    right: 120%;
    z-index: 10000;
  }
  
  .sb1:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid  #ffb3b3;
    border-right: 10px solid transparent;
    border-top: 10px solid  #ffb3b3;
    border-bottom: 10px solid transparent;
    right: -19px;
    top: 6px;
    animation: 0.5s cloud ease-in forwards;
    opacity: 0;
  }
  
@keyframes cloud{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.submit{
    flex-basis: 10%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardleft{
    transition: transform 1.5s ease-in-out;
    transform: translateX(0);
}

.cardright{
    transition: transform 1.5s ease-in-out;
    transform: translateX(200%);
}



.regcardleft{
    transition: transform 1.5s ease-in-out;
    transform: translateX(0%);
}

.regcardright{
    transition: transform 1.5s ease-in-out;
    transform: translateX(-200%);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
  box-shadow:  0 0 0 30px white inset !important;;
 -webkit-box-shadow: 0 0 0 30px white inset !important;
}

